<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Editar produto</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="updateProduto()">
                    <div class="form-group has-success has-feedback">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" ng-model="produto.nome" id="nome" placeholder="Ex.: Lasanha a parmegiana" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label for="tipoDaBebida">Tipo de bebida:</label>
                        <select class="form-control" id="tipoDaBebida" required>
                            <option>Não é bebida</option>
                            <option>Caipinha</option>
                            <option>Caipiroska</option>
                            <option>Champagne</option>
                            <option>Sakarinha</option>
                            <option>Outros</option>
                            <option>Água</option>
                            <option>Champagne</option>
                            <option>Café</option>
                            <option>Suco</option>
                            <option>Vodka</option>
                            <option>Whisky</option>
                            <option>Jarra</option>
                            <option>Drink</option>
                            <option>Refrigerante</option>
                            <option>Vinho</option>
                            <option>Espumantes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <select class="form-control" id="categoria" ng-model="produto.categoria" required>
                            <option>Palitos</option>
                            <option>Bebidas</option>
                            <option>Salgados</option>
                            <option>Saladas</option>
                            <option>Porções</option>
                            <option>Caldinhos</option>
                            <option>Escondidinhos</option>
                            <option>Refeiçao</option>
                            <option>Sobremesas</option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <label for="passwordField">Preço:</label>
                        <input type="text" class="form-control" ng-model="produto.preco" id="preco" placeholder="Use o ponto: Ex.: 23.50" required>

                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea class="form-control" rows="3" ng-model="produto.preco" id="descricao"></textarea>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input id="promocao" type="checkbox" ng-model="produto.promocao"/> Promoção
                        </label>
                    </div>
                    <div class="form-group" >
                        <label for="gramatura">Gramatura:</label>
                        <input type="text" class="form-control" ng-model="produto.gramatura" id="gramatura" placeholder="Quantidade.. Ex.: Jarra, 600ml, Serve 2 pessoas">

                    </div>
                    <div class="form-group" >
                        <label for="imageUrl">URL da Imagem:</label>
                        <input type="text" class="form-control" id="imageUrl" ng-model="produto.imageUrl" placeholder="Copiar e colar a URL da imagem do produto">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
    </div>
</div>
