<div class="tab-content">
                <div id="novo" class="tab-pane fade">
                    <h3>Adicionar produto:</h3>
                    <form ng-submit="createProduto()">
                        <div class="form-group has-success has-feedback">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Ex.: Lasanha a parmegiana" ng-model="produto.nome" required>
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                        <div class="form-group">
                            <label for="tipoDaBebida">Tipo de bebida:</label>
                            <select class="form-control" id="tipobebida" ng-model="produto.tipoDaBebida" required>
                                <option>Selecione opção</option>
                                <option>Não é bebida</option>
                                <option>Caipinha</option>
                                <option>Caipiroska</option>
                                <option>Champagne</option>
                                <option>Sakarinha</option>
                                <option>Outros</option>
                                <option>Água</option>
                                <option>Champagne</option>
                                <option>Café</option>
                                <option>Suco</option>
                                <option>Vodka</option>
                                <option>Whisky</option>
                                <option>Jarra</option>
                                <option>Drink</option>
                                <option>Refrigerante</option>
                                <option>Vinho</option>
                                <option>Espumantes</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria:</label>
                            <select class="form-control" id="categoria" ng-model="produto.categoria" required>
                                <option>Selecione</option>
                                <option>Palitos</option>
                                <option>Bebidas</option>
                                <option>Salgados</option>
                                <option>Saladas</option>
                                <option>Porções</option>
                                <option>Caldinhos</option>
                                <option>Escondidinhos</option>
                                <option>Refeição</option>
                                <option>Sobremesas</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="preco">Preço:</label>
                            <input type="text" class="form-control" id="preco" ng-model="produto.preco" placeholder="Use o ponto: Ex.: 23.50" required>

                        </div>

                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea class="form-control" rows="3" id="descricao" ng-model="produto.descricao" placeholder="Descreva o produto para seus clientes."></textarea>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="promocao" type="checkbox" ng-model="produto.promocao"/> Promoção
                            </label>
                        </div> 
                        <div class="form-group" >
                            <label for="gramatura">Gramatura:</label>
                            <input type="text" class="form-control" id="gramatura" ng-model="produto.gramatura" placeholder="Quantidade.. Ex.: Jarra, 600ml, 2 pessoas">

                        </div>
                        <div class="form-group" >
                            <label for="imageUrl">URL da Imagem:</label>
                            <input type="text" class="form-control" ng-model="produto.imageUrl" id="imageUrl" placeholder="Copiar e colar a URL da imagem do produto">
          
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success btn-lg"  data-target="#list">Salvar</button>
                        </div>

                    </form>
                </div>